nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    padding: 0 10px;
}

nav button {
    border: none;
    background: transparent;
    color: purple;
}

main {
    margin: 10vh;
    text-align: center;
    border: 2px solid black;
    height: 40vh;
    border-radius: 15px;
    padding: 5vh 0 0 0;
}

button {
    background: purple;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

#answers {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
}

#correct {
    color: green;
    border-bottom: 4px solid green;
    width: 90%;
    margin: 0 auto;
    font-size: 5rem;
    display: none;
}

#incorrect {
    color: red;
    border-bottom: 4px solid red;
    width: 90%;
    margin: 0 auto;
    font-size: 5rem;
    display: none;
}

table {
    border: 1px solid;
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 20px;
    font-weight: bold;
    
}

#highscore-buttons {
    padding-top: 30px
}